@use "sass:math";
@use "./breackpoints.scss";

@function pxToRem($value, $base-font-size: 16px) {
  @if (math.unit($value) == "px") {
    @return math.div($value, $base-font-size) * 1rem;
  } @else {
    @warn "Value must be in pixels (px). Got #{$value}.";
    @return $value;
  }
}

@mixin hover-supported {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin text-clamp($lines: 3) {
  display: -webkit-box;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 pxToRem(48px);
}

@media screen and (max-width: breackpoints.$tablet) {
  .container {
    padding: 0 pxToRem(20px);
  }
}

.display-none {
  display: none;
}
